@charset "utf-8";
$awesomeblue: dodgerblue;
$awesomeblue-darker: rgb(87, 171, 255);
$primary: $awesomeblue;
$body-background-color: black;
$background: rgb(29, 29, 29);
$text: white;
$text-light: white;
$text-strong: white;
$link: $awesomeblue;
$link-hover: $awesomeblue-darker;
$border: rgba(255,255,255,0.25);
$hr-background-color: rgba(255,255,255,0.25);
$card-background-color: rgb(29, 29, 29);
$card-header-shadow: 0 0.125em 0.25em rgba(0,0,0,0.5);
$code: $awesomeblue;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$family-sans-serif: 'Heebo', sans-serif;
$family-secondary: 'Montserrat', sans-serif;
$title-family: 'Montserrat', sans-serif;
$subtitle-family: 'Montserrat', sans-serif;

@import "../node_modules/bulma/bulma.sass";

$pixelbackground: url('/assets/images/background.webp');
$pixelbackgroundblurred: url('/assets/images/background%20blurred.webp');

:root {
  color-scheme: dark;
}

.tabs{
    font-family: $title-family;
}
@keyframes fadein{
    to {
        opacity: 1;

    }
    from {
        opacity: 0.01;
    }
}

@keyframes fadeout{
    from {
        opacity: 1;

    }
    to {
        opacity: 0;
    }
}
@keyframes fadeinslideinfromright{
    to {
        opacity: 1;
        transform: translate(0px);
    }
    from {
        opacity: 0;
        transform: translate(100px);
    }
}
@keyframes bumplink {
    from {left: -20px; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}
    to {left: 0px; text-shadow: 0 5px 10px rgba(0, 0, 0, .5);}
}
@keyframes bumplinkback {
    from {left: 20px; text-shadow: 0 5px 10px rgba(0, 0, 0, .5);}
    to {left: 0px; text-shadow: 0 0 0 rgba(0, 0, 0, .5);}
}
@keyframes slideleft{
    from{
        right: 0;
    }
    to{
        right: 200px;
    }
}
@keyframes slideright{
    from{
        right: 200px;
    }
    to{
        right: 0;
    }
}
@keyframes slideup{
    0%{
        top: 0%;
        display: flex !important;
        opacity: 1;
    }
    50%{
        top: -100%;
        display: flex !important;
        opacity: .5;
    }
}
@keyframes zoomin{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes cardfadein{
    from{bottom: 50px; opacity: 0;}
    to{bottom: 0px; opacity: 1;}
}
.card{
    position: relative;
    animation-duration: 0.25s;
    animation-fill-mode: backwards;
}

.fadein{
    animation-name: fadein;
    animation-duration: .25s;
    /*animation-fill-mode: backwards;*/
}

hr{
    width: 300px;
    min-width: 100px;
    height: 1px;
}
.link{
    position: relative;
    animation-name: bumplinkback;
    animation-duration: 0.05s;
    height: 1em;
    display: inline-block;
}
.link:hover, .link:focus{
    animation-name: bumplink;
    animation-duration: 0.1s;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    outline: none;
}
.link:hover::before, .link:focus::before{
    content: "arrow_forward ";
    font-family: 'Material Icons';
    vertical-align: middle;
    position: relative;
    font-size: 1em;
    bottom: 2px;
    color: $awesomeblue;
}
#main{
    position:relative;
    animation-duration: 0.25s;
}
#main-wrapper{
    animation-duration: 0.25s;
}
#windowblind{
    animation-duration: 0.5s;
}

#homepage{
    #main{
        max-width: 1280px;
    }
    #main-wrapper{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), $pixelbackground center;
        background-size: cover;
        background-attachment: fixed;
    }
    #logo-window{
        border-radius: 1em;
        background: $pixelbackgroundblurred center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 10px 20px 0px rgba(12, 11, 11, 0.2);
        @supports ( -moz-appearance:none ){
            background: $pixelbackgroundblurred left;
            background-size: 1920px;
            background-attachment: local;
        }
    }
    #windowblind{
        top: 0%;
        left: 0;
        right: 0;
        position: fixed;
        display: none;
        .hero-body{
            text-align: center !important;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), $pixelbackgroundblurred center;
            background-size: cover;
            background-attachment: scroll;
        }
    }
}
.has-shading, .is-shading{
    border-top-color: rgba(255,255,255,0.2);
    border-bottom-color: rgba(0,0,0,0.2);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
}

.tab-background{
    position: fixed;
    left: 0; 
    right: 0; 
    top: 0; 
    z-index: 1;
    background-color: rgba(0,0,0,.9);
    @supports (backdrop-filter: blur(8px)){
        background-color: rgba(0,0,0,0.75);
        backdrop-filter: blur(8px);
        text-shadow: rgba(0,0,0,1) 0 0 10px;
    }
}